.create-container[b-v1esl3qckv] {
    max-width: 700px;
    margin: 40px auto;
}

/* HEADER */
.create-header[b-v1esl3qckv] {
    background: #f3e8e8;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
}

    .create-header h1[b-v1esl3qckv] {
        font-weight: 700;
    }

    .create-header p[b-v1esl3qckv] {
        color: #666;
    }

/* CARD */
.form-card[b-v1esl3qckv] {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* FORM */
.form-group[b-v1esl3qckv] {
    margin-bottom: 18px;
}

    .form-group label[b-v1esl3qckv] {
        font-weight: 600;
        margin-bottom: 6px;
        display: block;
    }

/* INPUT */
.form-control[b-v1esl3qckv] {
    border-radius: 8px;
    padding: 10px;
}

/* BUTTON */
.create-btn[b-v1esl3qckv] {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
    background: linear-gradient(90deg, #2f6fed, #3c82f6);
    border: none;
    color: white;
}

    .create-btn:hover[b-v1esl3qckv] {
        opacity: 0.9;
    }
